.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.main-content-about{
    display: flex;
    flex-direction: column;
    .team{
        display: flex;
        flex-wrap: wrap;
        h2{
            width: 100%
        }
        .portrait-boxes{
            width: 35%;
        }
    }
}