.background{
    position:fixed;
    z-index: -1;
    top: -250px;
    min-width: 2100px;
}
header{
    margin-top: 52px;
    display: flex;
    background: @mainbackground;
    @media @phone {
        flex-direction: column;
        margin-top: 0px;
    }
    div{
        width: 48%;
        @media @phone{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    .button-container{
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            .button-font();
            width: 50%;
            height: 20%;
            background: @darkbuttoncolor;
            color: @lightbuttoncolor;
            border: 0px;
            border-radius: 10px;
            &:hover{
                background:@lightbuttoncolor;
                color: @darkbuttoncolor;
                transition: .5s;
                font-weight: bold;
                width: 100%;
                height: 100%;
                cursor: pointer;
                font-size: 2.1rem;
            }
            .unhover();
            @media @phone{
                padding: 5px 20px;
            }
        }
        @media @phone{
            width: 100%;
            margin-bottom: 5%;
        }
    }
    h1{
        padding: 5%;
    }
    p{
        padding-left: 5%;
        font-size: 1.8rem;
        color: darkgreen;
    }
}

.main-content{
    background: darkgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 40px 0;
    @media @phone{
        flex-direction: column;
        justify-content: center;
    }
    .top-boxes{
        background: rgb(133, 190, 133);
        width: 45%;
        margin-top: 10px;
        border: 2px solid forestgreen;
        margin-bottom: 30px;
        p{
            margin-left: 5%;
            color: darkgreen;
            font-size: 1.8rem;
        }
        button{
            .button-font();
            width: 25%;
            height: 10%;
            background: @darkbuttoncolor;
            color: @lightbuttoncolor;
            border: 0px;
            border-radius: 10px;
            margin-bottom: 30px;
            margin-left: 5%;
            &:hover{
                background: @lightbuttoncolor;
                color: @darkbuttoncolor;
                transition: .5s;
                font-weight: bold;
                cursor: pointer;
            }
            .unhover();
            @media @phone{
                padding: 5px 20px;
            }
        }
        @media @phone{
            width: 100%;
        }
    }
    .bottom-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
        background: rgb(133, 190, 133);
        margin-bottom: 10px;
        border: 1px solid forestgreen;
        p{
            margin-left: 5%;
            font-size: 1.8rem;
            color: darkgreen;
        }
        @media @phone{
            display: none;
        }
    }
}

.bottom-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    @media @phone{
        flex-direction: column;
        align-items: center;
    }
    h2{
        width: 100%;
    }
    .posts{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        background: whitesmoke;
        border-radius: 10px;
        border: 3px solid rgb(37, 97, 37);
        @media @phone {
            width: 85%;
            margin-bottom: 15px;
        }
        p{
            color: black;
            margin-left: 3%;
            margin-top: 5px;
        }
        .interact-box{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            border-top: 1px solid darkgray;
            p{
                color:darkgray;
            }
        }
    }
}
