header{
    display: flex;
    background: @mainbackground;
    @media @phone {
        flex-direction: column;
    }
    div{
        width: 48%;
        @media @phone{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    .button-container{
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            width: 50%;
            height: 20%;
            background: skyblue;
            color: darkgreen;
            border: 0px;
            border-radius: 10px;
            &:hover{
                background: darkgreen;
                color: skyblue;
                transition: .5s;
                cursor: pointer;
            }
            @media @phone{
                padding: 5px 20px;
            }
        }
        @media @phone{
            width: 100%;
            margin-bottom: 5%;
        }
    }
    h1{
        padding: 5%;
    }
    p{
        padding-left: 5%;
        font-size: 1.8rem;
        color: darkgreen;
    }
}

.main-content{
    background: darkgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 40px 0;
    @media @phone{
        flex-direction: column;
        justify-content: center;
    }
    .top-boxes{
        background: rgb(133, 190, 133);
        width: 45%;
        margin-top: 10px;
        border: 2px solid forestgreen;
        margin-bottom: 30px;
        p{
            margin-left: 5%;
            color: darkgreen;
            font-size: 1.8rem;
        }
        button{
            width: 25%;
            height: 10%;
            background: skyblue;
            color: darkgreen;
            border: 0px;
            border-radius: 10px;
            margin-bottom: 30px;
            margin-left: 5%;
            &:hover{
                background: darkgreen;
                color: skyblue;
                transition: .5s;
                cursor: pointer;
            }
            @media @phone{
                padding: 5px 20px;
            }
        }
        @media @phone{
            width: 100%;
        }
    }
    .bottom-box{
        width: 98%;
        background: rgb(133, 190, 133);
        margin-bottom: 10px;
        border: 1px solid forestgreen;
        p{
            margin-left: 5%;
            font-size: 1.8rem;
            color: darkgreen;
        }
        @media @phone{
            display: none;
        }
    }

}